@use "../abstracts/variables" as global;
@use "sass:color";

.flip-card {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  

  .card-inner {
    position: relative;
    width: global.$width-full;
    height: global.$width-full;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    

    &:hover {
      transform: rotateY(180deg);
    }

    .card-front,
    .card-back {
      position: absolute;
      width: global.$width-full;
      height: global.$width-full;
      backface-visibility: hidden;
      border-radius: global.$border-radius-medium;
      border: 2px solid global.$primary-color; /* Borde añadido */
      box-sizing: border-box;
    }

    .card-front {
      background-color: global.$primary-color;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      img {
        width: global.$width-full;
        height: global.$width-full;
        object-fit: cover;
        border-radius: global.$border-radius-medium;
      }

      .text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: global.$color-overlay-light;
        color: global.$color-white;
        padding: global.$border-radius-medium;
        text-align: center;
        font-size: global.$font-size-24;
      }
    }

    .card-back {
      background-color: color.adjust(global.$color-grid, $lightness: 20%);
      color: global.$primary-color;
      transform: rotateY(180deg);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: global.$font-size-24;
      padding: global.$border-radius-medium;
    }
  }

  @media (max-width: 768px) {
    height: auto; /* Permitimos altura flexible para contenido */

    .card-inner {
      height: 300px; /* Mantenemos una altura fija para la animación */

      .card-front {
        position: absolute; /* Mantenemos absoluto para el giro */

        .text {
          position: relative;
          bottom: auto; /* Quitamos bottom: 0 para que no se superponga */
          background: none; /* Sin fondo en móvil */
          color: global.$primary-color; /* Color visible */
          padding: global.$border-radius-medium 0;
          background: global.$color-overlay-light;
        }
      }

      .card-back {
        height: 100%;
        font-size: global.$font-size-16;
        padding: global.$border-radius-medium;
        overflow: hidden;
        text-overflow: ellipsis;
        
      }
    }
  }
}
