@use "../abstracts/variables" as global;

/** Botón de cambiar de tema **/
#fixedButton {
  position: fixed;
  bottom: global.$spacing-20;
  right: global.$spacing-20;
  padding: global.$spacing-10 global.$spacing-20;
  background-color: global.$primary-color;
  color: global.$color-white;
  border: none;
  border-radius: global.$border-radius-small;
  cursor: pointer;
  box-shadow: global.$shadow-button;
  transition: global.$transition-background;
  z-index: 2;

  &:hover {
    background-color: global.$secondary-color;
  }
}

/** Pie de página **/
footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  background-color: global.$primary-color;
  color: global.$secondary-color;
  text-align: center;
  padding: global.$spacing-10;
  width: global.$width-full;
  overflow-x: hidden;

  p {
    padding-left: global.$spacing-2rem;
  }
}
