@use "../abstracts/variables" as global;

.modalRegister {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: global.$width-full;
  height: global.$width-full;
  background: global.$color-overlay-light;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &.show {
    display: flex;
  }

  .modalRegister-content {
    background: global.$color-white;
    padding: global.$spacing-20;
    border-radius: global.$border-radius-small;
    width: 300px;

    form {
      display: flex;
      flex-direction: column;

      label {
        margin: global.$spacing-10 0 global.$spacing-5;
      }
      input {
        padding: global.$spacing-5;
        margin-bottom: global.$spacing-10;
      }
      input[type="submit"] {
        background-color: global.$primary-color;
        color: global.$color-white;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: global.$primary-color-dark;
        }
      }
    }

    .close {
      float: right;
      cursor: pointer;
    }
  }
}