$primary-color: #6b8399;
$primary-color-dark: #42505e;
$secondary-color: #333;
$secondary-color-dark: #222;
$color-grid: #4b4b4b44;
$font-family: 'Roboto', sans-serif;
$font-family-alt: "Funnel Display", sans-serif;
